.no-overlay::before {
  opacity: 0;
}

.shadow
{background-color: #333;}

.shadow-text
{color: #aaa; }

.shadow h1
{color: #aaa; }

.shadow h4
{color: #aaa; }

.shadow h5
{color: #aaa; }

.shadow p
{color: #ccc; }

.shadow li
{color: #ccc; }

.shadow.card
{background-color: #333;}